*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin:0;
    padding: 0;
    
}

body{
    font-size:3em;
    display:flex;
    line-height:150px;
    justify-content: center;
    width: 98%;
    height:98%;
}


#heart{
    font-size: 5em;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 90%;
    cursor:pointer;

    
}

#heart:hover{
    /*display:none;*/
    cursor:pointer;
}
